section{
    text-align:center;
}
.about_container{  
    display:flex; 
    justify-content: space-around;
}
.about_right{
    display:flex;
    flex-direction:column;
    padding:1rem;
    width:50%;
}
.about_left{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:2rem;
}
.img_div{
    width:80%;
    border-radius: 1rem;
    border:1px solid black;
    overflow:hidden;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.6s ease-in-out;

}
.img_div img{
    width: 100%;
    object-fit:cover;
}
.img_div:hover{
    transform: scale(1.03);

}
/* .bottom{
    height:50%;
    width:90%;
} */
.card_container{
    height:50%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.about_me{
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.line{
    height: 5px;
    background-color:black;
}
 @media screen and (max-width: 700px) {
    section{
        width: 100%;
    }
    .about_container{
        flex-direction:column;
        width:100vw;
    }
    .about_container > div{
        width: 90%;
        height: 100%;
    }
    .about_left {
        width: 100%; 
        height: 50%;
        padding: 1rem; 
      }
    .img_div{
        height:100%;
    }
    .card_container {
        grid-template-columns: 1fr;
        gap: 1rem; 
      }
      .card{
        height: 100%;
      }
      .about_right{
        display: flex;
        flex-direction: column;
      }
      .about_me{
        margin-top: 10rem;
      }
} 


