section {
    text-align: center;
    margin-top:2rem;
    height: 100vh;
}
.contact_container{
    display: flex;
    justify-content: center;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    gap:1rem;
    margin-top:2rem;
}
input,textarea{
    background-color: var(--color-primary-variant);
    color: var(--color-primary-variant);
    border: 1px solid var(--color-primary-variant);
    background: transparent;
    border-radius:1rem;
    padding:1rem;
    margin:0.5rem;
}
@media screen and (max-width: 700px){
    form{
        width: 80%;
    }
}